body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f19356;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

html {
    scroll-behavior: smooth;
}

.logo {
    width: 120px;
}

.banner-logo {
    width: 55%;

}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding-inline-start: 8px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffd700;
}

header {
    text-align: center;
    padding: 50px 20px 246px;
    background: url('../images/banner.jpg') no-repeat center center/cover;
    color: white;
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2em;
}

section#about {
    text-align: center;
    padding: 40px;
    background-color: white;
}

.featured-dishes {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: white;
}

strike {
    color: rgb(88, 88, 88);
    font-weight: normal;
}

.featured-dishes .dish {
    width: 30%;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.featured-dishes .dish:hover {
    transform: scale(1.05);
}

.featured-dishes img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.featured-dishes h3 {
    color: #f19356;
    margin: 15px 0;
}

section#contact {
    text-align: center;
    padding: 40px;
    background-color: #f19356;
    color: white;
}

section#contact h2 {
    margin-bottom: 20px;
}

section#contact .social-links {
    list-style: none;
    padding: 0;
}

section#contact .social-links li {
    display: inline;
    margin: 0 10px;
}

section#contact .social-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

section#contact .social-links a:hover {
    color: #ffd700;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .featured-dishes {
        flex-direction: column;
    }

    .featured-dishes .dish {
        width: 80%;
        margin: 15px auto;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}